.single-product {
    border-radius: 5%;
    padding: 20px;
    font-size: 150%;
    text-align: center;
    box-shadow: 3px 3px 5px 0 #f2f2f2;
  }

 #products-main-section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}