.single-product {
    border-radius: 5%;
    padding: 20px;
    font-size: 100%;
    text-align: center;
    box-shadow: 3px 3px 5px 0 #f2f2f2;
}

#products-main-section {
    display: grid;
    grid-template-columns: 49% 49%;
    margin-bottom: 10%;
}

header {
    padding: 1%;
    background-color: #232f3e;
    color: white;
    font-size: 140%;
}

element {
    background: transparent url(image.png) no-repeat center;
}

.right-side {
    float: right;
    width: 75%;
}

.left-side {
    float: left;
    width: 25%;
}


/*
https://www.w3schools.com/howto/howto_css_star_rating.asp
*/

.checked {
    color: orange;
}

.main-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container {
    position: relative;
    width: 75%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: white;
    font-size: 16px;
    padding: 16px 32px;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

footer {
    background-color: #232f3e;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}