.single-product {
    border-radius: 5%;
    padding: 20px;
    font-size: 100%;
    text-align: center;
    box-shadow: 3px 3px 5px 0 #f2f2f2;
}

#products-main-section {
    display: grid;
    grid-template-columns: 49% 49%;
}

header {
    padding: 1%;
    background-color: #232f3e;
    color: white;
    font-size: 140%;
}

element {
    background: transparent url(image.png) no-repeat center;
}

.right-side {
    float: right;
    width: 75%;
}

.left-side {
    float: left;
    width: 25%;
}


/*
https://www.w3schools.com/howto/howto_css_star_rating.asp
*/

.checked {
    color: orange;
}

.main-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}