.img-product {
    height: 70%;
    width: 50%;
    object-fit: cover;
}

#main-picture {
    width: 100%;
    background-image: url("../img/mainPicture.jpg");
    height: 50vh;
    background-position: center;
}

@media screen and (max-width: 517px) {
    #main-picture {
        display: none;
    }
}