.img-product {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

#products {
    border-bottom: 8px solid red;
}

#main-picture {
    width: 100%;
    background-image: url("../img/mainPicture.jpg");
    height: 50vh;
    background-position: center;
}